@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<br />
<br />

<p>
    Disc golf has a tracking system that we use to compete when we don’t want to put any money or serious rating on the line. It is called a bag tag. It is a decoration for our bag that also displays our in-the-moment ranking within our club/league. The premise is that if you are playing a round of disc golf with a group of people and each person has their numbered tag. You play the round and then the best score gets the lowest numbered (best) tag, the second best score gets the second best tag and on down. So it is not a rating, but a snapshot ranking within the league. There are many issues that we have with our current system:
    <br />
    <br />
    <ul>
        <li>During a pandemic, exchanging bag tags is not practical.</li>
        <li>If you are playing in a large group with multiple tee-times, the people finished first have to wait until the last group finishes to exchange tags.</li>
        <li>It is hard to track without a dedicated person updating a spreadsheet.</li>
        <li>Limited number of leagues based on who will buy supplies for a bag tag league.</li>
        <li>Small scale, most tag leagues only track rankings for a small group of people.</li>
        <li>Very limited functionality and tracking.</li>
        <li>People will earn a really good tag and then not play for it for a long time to protect their good tag number. This makes it hard to earn a good tag.</li>
    </ul>
    <br />
    <br />

<p>

    “The One Tag” Bag tag app will be able to address these issues by using a database to track all the tag exchanges in a more efficient and hygienic manner. Secondarily, this app will give league admins the ability to slightly punish users for going inactive and can encourage more activity in their league.
</p>
