@{
    ViewBag.Title = "Contact";
}
<h2>Get in Contact with the makers of TheOneTag</h2>

<br />

<address>
    5112 Lemans Dr.<br />
    Indianapolis, IN 46205<br />
</address>

<address>
    <strong>Support:</strong>   <a href="curtisrosspro@gmail.com">curtisrosspro@gmail.com</a><br />
</address>