@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TheOneTag</h1>
    <p class="lead">TheOneTag has been built to take care all of your Bag Tag needs</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>TheOneTag</h2>
        <p>
            TheOneTag is the best place to take care of all your disc golf bag tag needs.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Learn more about disc golf!</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://www.pdga.com/introduction">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find the nearest course near you!</h2>
        <p>You can find the disc golf course nearest you using udisc. Look up their app on google play or the apple app store </p>
        <p><a class="btn btn-default" href="https://udisc.com">UDisc &raquo;</a></p>
    </div>
</div>

